<!--The content below is only a placeholder and can be replaced.-->
<h1>Hi, I'm Satyajit, I code stuff</h1>
<body>
    <main>
        <!-- <section class="quote">
            "You might not think that programmers are artists, but programming is an extremely creative profession. It's logic-based creativity." - John Romero
        </section> -->
        <section class="quote">
            <div [innerHTML]="thequote.content"></div>
            <div [innerHTML]="thequote.title" id="quotetitle"></div>
                <!-- {{sometext}} -->
            </section>
        <section class="music">
            <h3>What am i listening to ?</h3>
            <div class="musicPlaying">
                <img src="./assets/music.svg" alt="Music_Icon">
                <div id="musicText">Heartless - ONE (Original Never Ends)</div>
            </div>
        </section>
    </main>
    <img src="./assets/cat.svg" alt="Meri Billi">
</body>